
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    }


.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: #0284c7;
    color: white;
    padding: 0 0px 0 20px;
    gap: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 75px 400px;
    z-index: 2;
}

.dash-logo {
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: 40px 175px;
    align-items: center;
}

p {
    margin: 0;
}

.page-con {
    display: grid;
    gap: 5px;
}

.pages {
    display: grid;
    grid-template-columns: 40px 175px;
    height: 40px;
    align-items: center;
    gap: 5px;

}

svg {
    height: 30px;
    fill: white;
}


.side-nav {
    display: grid;
    grid-template-rows: 2fr 1fr; 
    gap: 50px;

}

.header {
    background-color: white;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.3rem;
    font-weight: 500;
    -webkit-box-shadow: -1px -16px 14px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -16px 14px 14px rgba(0,0,0,0.75);
    box-shadow: -1px -16px 14px 14px rgba(0,0,0,0.75);
    
    z-index: 1;
}


.catpic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.search-con {
    display: grid;
    grid-template-columns: 40px minmax(100px, 450px);    
    gap: 5px;
    padding-left: 20px;
    align-items: center;
}

input[type=search] {
    border-radius: 15px;
    border: 0px;
    background-color: #e0f2fe;
    height: 1.3rem;
    padding-left: 10px;
}

.alert-con {
    display: grid;
    grid-template-columns: 40px 60px 200px;    
    gap: 5px;
    justify-content: end;
    align-items: center;
}

.welcome-con {
    display: grid;
    grid-template-columns: 40px 300px;    
    gap: 15px;
    padding-left: 20px;
    align-items: center;
}

.button-con {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

button {
    background-color: #0284c7;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 17px;
    border: 0px;
    font-size: 1rem;
    font-weight: 400;
}

.main-con {
    background-color:  #e0f2fe;
    padding: 50px;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 50px;
}

.main-con > div {
    border-radius: 10px;
}

.projects-wrap {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 30px 8fr;
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}

.pro-title {
    padding-bottom: 10px;
}

.project-content {
    display: grid;
    padding: 20px;
    font-size: 0.9rem;
    gap: 10px;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: inset 45px -11px 0px -35px rgba(255,197,23,1);
    -moz-box-shadow: inset 45px -11px 0px -35px rgba(255,197,23,1);
    box-shadow: inset 45px -11px 0px -35px rgba(255,197,23,1);
}

.card-buttons {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.announcements-wrap {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 8fr;

}

.announcements {
    display: grid;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
}

.announce-section {
    display: grid;
    gap: 2px;
    padding: 10px;
}

.underlined {
    border-bottom: 1px solid rgba(187, 187, 187, 0.75)
}

.trending-wrap {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 8fr;

}

.trenditem {
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 15px;
    align-items: center;
}

.trending {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.trendpic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}